<h3>Profiladatok</h3>
<hr>
<div id="messageBox"></div>
<div class="mb-3">
    <label for="nameField" class="form-label">Név</label>
  <input type="text" class="form-control" id="nameField" aria-describedby="emailHelp">
</div>
<div class="mb-3">
  <label for="emailField" class="form-label">Email-cím</label>
  <input type="email" class="form-control" id="emailField">
</div>
<button type="button" class="btn btn-primary" onclick="updateProfile()">Módosítás</button>
<hr>
<div class="mb-3">
    <label for="passwordField" class="form-label">Jelenlegi jelszó</label>
  <input type="password" class="form-control" id="passwordField" aria-describedby="emailHelp">
</div>
<div class="mb-3">
    <label for="newPasswordField" class="form-label">Új jelszó</label>
    <input type="password" class="form-control" id="newPasswordField">
  </div>
<div class="mb-3">
  <label for="confNewPasswordField" class="form-label">Új jelszó megerősítése</label>
  <input type="password" class="form-control" id="confNewPasswordField">
</div>
<button type="button" class="btn btn-primary" onclick="updatePassword()">Módosítás</button>